# Default ignored files
/shelf/
/workspace.xml



# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.24-25.FR.S.S1_Caged-Vampire.iml
/projectSettingsUpdater.xml


# Editor-based HTTP Client requests
/httpRequests/


# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

